.alert div {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 23, 110);
  display: flex;
  text-align: center;
  height: 40px;
  color: #eee;
}

@media only screen and (max-width: 769px) {
  .alert div {
    font-size: 11px;
  }
}
