* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 1.5rem;
  font-family: "Helvetica";
}

button {
  border-radius: 5px;
  border: 1px solid #000;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: 100;
  margin-bottom: 20px;
}

a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: black;
}
.active {
  text-decoration: underline;
}

.top {
  height: 20em;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  background-image: url("img/pic2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.booking-container {
  position: absolute;
}

.top .intro-message {
  opacity: 0;
  animation-name: prova;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  color: white;
  margin-right: 50px;
  position: relative;
}

.top .intro-message h2 {
  background-color: rgb(255, 23, 110);
}

@keyframes prova {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.flexBox2 {
  display: flex;
  align-items: center;
  height: 40vh;
  border-left: 10px solid black;
}
.flexBox3 {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 60vh;
  width: 90%;
  padding-top: 40px;
}
.flexBox3 div {
  padding: 25px;
  width: 150px;
}
.flexSpacer {
  flex-basis: 50%;
}
.flexBox4 {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.flexBox {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  height: 100vh;
}

.flexBox img {
  display: none;
}

.box1 {
  flex-basis: 10%;
}

.content-box1 {
  flex-basis: 30%;
}

.box3 {
  flex-basis: 10%;
}

.background-box1 {
  height: 100vh;
  flex-basis: 50%;
}

.background-box2 {
  height: 100vh;
  flex-basis: 50%;
}
.box6 {
  flex-basis: 10%;
}
.content-box2 {
  flex-basis: 30%;
}
.box8 {
  flex-basis: 10%;
}

.color1 {
  background-color: aqua;
}

.color2 {
  background-color: #fffd6f;
}

.background1 {
  background-image: url("./img/pic1.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.background2 {
  background-image: url("./img/pic2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.background3 {
  background-image: url("./img/pic3.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.background4 {
  background-image: url("./img/pic4.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.background5 {
  background-image: url("./img/pic5.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.react-calendar {
  font-size: 16px;
  width: 200px;
  border-radius: 5px 5px 0 0;
  border: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.react-calendar * {
  font-size: 16px;
}

.react-calendar__navigation {
  margin-bottom: 0em !important;
}
.react-calendar__month-view__weekdays {
  font-weight: 100 !important;
}

.calendar {
  background-color: #eee;
  border-radius: 5px 5px 5px 5px;
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 500;
  width: 350px;
  opacity: 0;
  transform: translateX(-50%);
  transition-property: opacity;
  transition-delay: 0.5s;
}
.calendar.open {
  display: block;
  opacity: 1;
}
.radio-btn {
  display: inline-flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  font-size: 14px;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 4px 14px;
  color: #000;
  background: #fff;
  cursor: pointer;
  transition: background 0.1s;
}

.radio__label:not(:last-of-type) {
  border-right: 1px solid #999;
}
.radio__input:checked + .radio__label {
  background: rgb(255, 23, 110);
  color: white;
}

.bookNow {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 5px 20px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  display: none;
}

.contact-form {
  padding: 20px;
  width: 350px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 5px;
  display: none;
}
.contact-form.open {
  display: block;
}
.contact-form h2 {
  font-size: 18px;
}

.input-box {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #333;
  text-indent: 5px;
}
.send-form {
  color: rgb(255, 23, 110);
  border-radius: 20px;
  border: 1px solid;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgb(255, 23, 110);
  color: white;
}
@media only screen and (max-width: 769px) {
  * {
    font-size: 18px;
  }

  .alert {
    font-size: 8px;
  }

  .calendar {
    margin-top: 15px;
    top: 10px;
  }

  .top h1 {
    font-size: 24px;
    line-height: 1.6rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .top {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .top .intro-message {
    margin-right: 0;
    margin-bottom: 40px;
    order: 2;
  }

  .flexBox2 {
    height: 60vh;
  }
  .flexBox3 {
    padding: 10px;
    height: auto;
    flex-direction: column;
  }
  .flexBox3 div {
    padding: 25px;
    width: 100%;
  }

  .flexBox {
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    height: auto;
    min-height: 0;
  }

  .flexBox img {
    width: 100%;
    display: block;
  }

  .box1 {
    display: none;
  }
  .content-box1 {
    padding: 10px;
  }
  .content-box2 {
    padding: 10px;
  }
  .box3 {
    display: none;
  }
  .background-box1 {
    order: 1;
    background: none;
    height: auto;
  }
  .background-box2 {
    order: 2;
    background: none;
    height: auto;
  }
  .box6 {
    display: none;
  }
  .box8 {
    display: none;
  }
}
